@import "./variables";

@mixin col-4-card-row-mixin {
    display: $display-content;
    flex-direction: $flex-direction;
    padding:0.5em;
    > div {
        width: $row-child-width;
        &:last-child{
            text-align: right;  
        }
    }   
}

@mixin card-body-mixin {
    border: $default-border;
}