.widgets {
    margin-top: 1.0em;
}

.widget-card {
    @include card-body-mixin;
}


.widget-body {
    border-top: 1px solid #0c0c0c;
}

.widget-header {
    margin: 5px;
    padding-left: 25px;
}

.data-row {
    @include col-4-card-row-mixin;
    border-bottom: 1px solid #8080803d;

    &:last-child {
        border-bottom: none;
    }

    &:nth-child(even) {
        background-color: #8080801c;
    }
}