@import "./_variables";

:root {
    box-sizing: border-box;

}

*,
::before,
::after {
    box-sizing: inherit;

}


a {
    text-decoration: underline;
    color: $blue;
    padding-left: 25px;

    &:hover {
        cursor: pointer;
    }
}

i {
    padding-left: 0.3em;

    &:hover {
        cursor: pointer;
    }
}