@import "./_variables";

.table-container {
    width: 100%;

    >thead {
        >tr {
            border-bottom: 1px solid #000000;
        }

    }
}

.table-container th {
    text-align: left;
}

.table-container tr:nth-child(even) {
    background-color: $grey-color;
}