@import "./variables";
div.tab-container {
    margin: 0.5em;
}

ul.tab-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    border-bottom: $default-border;
    padding-left: 0.5em;

    >li.tab-link {
        padding: 0.5em;
        border-top: $default-border;
        border-bottom: 0;
        border-left:$default-border;
        border-right: $default-border;

        &:hover {
            cursor: pointer;
        }
    }
}

div.tab-body {
    margin-top: 0.5em;
}