@import "./variables";

div.tab-container {
    margin: 0.5em;
}

ul.tab-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    border-bottom: solid 1px $tab-border-color;
    padding-left: 0.5em;

    >li.tab-link {
        padding: 0.5em;

        &:hover {
            cursor: pointer;
        }


    }
}


.tab-links>li.tab-link.active-tab {
    border-bottom: 3px solid $blue;
}

div.tab-body {
    margin-top: 0.5em;
}